---
import CodeDrops from '../layouts/CodeDrops.astro';
import Card from '../components/Card.astro';
import { getDropsData } from '../utils';

const teste = getDropsData();
---

<CodeDrops headings={[]}>
  <main class=''>TESTE</main>
</CodeDrops>
