---
import { getDropsData, capitalizeFirstLetter, removeExtension } from '../utils';
import { cva } from 'class-variance-authority';

const Link = cva(
  'border-l-2 border-l-indigo-500 pl-3 w-full hover:bg-indigo-300 hover:cursor-pointer hover:bg-opacity-60 py-2 flex',
  {
    variants: {
      active: {
        true: 'bg-indigo-300 bg-opacity-60',
        false: '',
      },
    },
  },
);

const Paths = getDropsData();
const currentUrl = Astro.url.pathname;
---

<main class='w-full ml-5 flex flex-col gap-3'>
  {
    [...Paths.keys()].map((drop) => (
      <div class='flex flex-col gap-3'>
        <h1 class='text-stone-50 text-xl font-bold'>
          {capitalizeFirstLetter(drop)}
        </h1>
        <ul>
          {Paths.get(drop)!.files.map((item) => {
            return (
              <li>
                <a
                  href={item.path}
                  class={Link({ active: currentUrl === item.path })}
                >
                  <span class='text-stone-50 text-base font-regular '>
                    {capitalizeFirstLetter(removeExtension(item.name))}
                  </span>
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    ))
  }
</main>
