---
import { getDropsData, capitalizeFirstLetter, removeExtension } from '../utils';
import { cva } from 'class-variance-authority';

const Link = cva(
  'border-l-2 border-l-indigo-500 pl-3 hover:bg-indigo-300 hover:cursor-pointer hover:bg-opacity-60 py-2 flex',
  {
    variants: {
      active: {
        true: 'bg-indigo-300 bg-opacity-60',
        false: '',
      },
    },
  },
);

const Paths = getDropsData();
const currentUrl = Astro.url.pathname;
---

<main class='w-full mx-5 flex flex-col gap-3 overflow-autod'>
  <ul>
    <li>
      <a href={'/'} class={Link({ active: currentUrl === '/' })}>
        <span class='text-stone-50 text-base font-regular'> Introdution</span>
      </a>
    </li>
  </ul>
  {
    Paths.map((drop) => {
      return (
        <div class='flex flex-col gap-3'>
          {drop.isDirectory ? (
            <h1 class='text-stone-50 text-xl font-bold'>
              {capitalizeFirstLetter(drop.folderName)}
            </h1>
          ) : null}
          {drop.files.map((item) => {
            return (
              <ul>
                <li>
                  <a
                    href={item.path}
                    class={Link({ active: currentUrl === item.path })}
                  >
                    <span class='text-stone-50 text-base font-regular '>
                      {capitalizeFirstLetter(removeExtension(item.name))}
                    </span>
                  </a>
                </li>
              </ul>
            );
          })}
        </div>
      );
    })
  }
</main>
