---
export interface Props {
  //   title: string;
  //   body: string;
  //   href: string;
}

import SidebarToggle from './SidebarToggle.astro';
// const { href, title, body } = Astro.props;
---

<nav class='p-4 flex items-center'>
  <h1 class='text-white font-bold text-xl'>Cunhat Code Drops</h1>
  <div class='ml-auto'><SidebarToggle /></div>
</nav>
