---
export interface Props {
  title: string;
}

import LeftSideBar from '../components/LeftSideBar.astro';
import Navbar from '../components/Navbar.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-slate-900 min-h-screen'>
    <Navbar />
    <main
      class='max-w-7xl mx-auto grid xl:grid-cols-[250px_auto_250px] md:grid-cols-[250px_auto] grid-cols-1 gap-10'
    >
      <nav class='col-span-1 hidden md:flex' id='grid-left'>
        <LeftSideBar />
      </nav>
      <article class='col-span-1 p-4 text-white prose'>
        <slot />
      </article>
      <div class='col-span-1 bg-purple-800 hidden md:flex'></div>
    </main>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'ChubboBold';
    src: url('/fonts/Chubbo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
        font-family: "Chubbo-Light";
        src: url("/fonts/Jost-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      } */
  @font-face {
    font-family: 'ChubboMedium';
    src: url('/fonts/Chubbo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ChubboRegular';
    src: url('/fonts/Chubbo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @media (max-width: 767.5px) {
    .mobile-sidebar-toggle {
      overflow: hidden;
      height: 100vh;
    }

    .mobile-sidebar-toggle #grid-left {
      z-index: 20;
      display: flex;
      width: 100vw;
      height: 100vh;
    }
  }
</style>
